/* Taruh CSS Custom Disini */
.bg-body{
    background-color: var(--smoky-black-1)!important;
}

/* .bg-body-secondary {
    background-color: var(--bs-gray-200)!important;
} */
/* .bg-body-tertiary, .bg-body-secondary  {
    background-color: var(--davys-grey)!important;
} */
.nav-link{
    color: var(--gold-crayola)!important;
}
.sidebar-brand{
    color: var(--gold-crayola)!important;
}
.h3{
    color: var(--black-alpha-15)!important;
}
.card-header{
    background-color: var(--eerie-black-4)!important;
}
.btn-primary, .btn-success {
    background-color: var(--smoky-black-1);
}
.card-title {
    color: var(--gold-crayola)!important;
}

/* .card-body{
    background-color: var(--davys-grey)!important;
} */
.form-label{
    color: var(--smoky-black-1)!important;
}
.app-footer{
    color: var(--gold-crayola)!important;
    background-color: var(--smoky-black-1);
}